.navbar {
align-items:stretch;
display:flex;
}
.is-paddingless{
    padding: 0 !important;
}


.logo {
    margin-left: auto;
    margin-right: auto;
}

#span {
    display: block;
    
}


#weather-box {
    visibility: hidden;
    padding-left: 20px;
}
/* Added styles to the wether box in the main display */

#weather-box h2{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
   
}

#weatehr-box, #name-city, #weather-container
, #humid-container, #w-speed, #description {
    font-size: x-large;
    font-weight: 400;
}

#weather-box h3{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

/* weather icon in the main section  */
img.icons {
    width: 121px;
    height: 110px;
    vertical-align: top;
    margin-top: -144px;
    /* margin-right: -40px; */
    margin-left: 364px;
}
      

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .saved-city{
display: block;
margin: 5px;
font-size: x-large;
margin-left: 13px;
font-weight: 500;
color: black;

  }
  
.card h3{
    font-size: xx-large;
    font-weight: 600;
    padding: 3px;
}

#city-name{
    color:yellow;
}

span{
    font-size: larger;
    font-weight: 500;
}

input{
    height: 50px;
    width: 226px;
    font-size: medium;
    display: flex;
}

:-ms-input-placeholder{
    color: red;

}

span ::content{
    margin-left: 20px;
}