.navbar {}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.is-horizontal-center {
    justify-content:
}

#weather-box {
    visibility: hidden;
    padding-left: 20px;
  }